@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-variant: small-caps;
	font-weight: normal;
}

.book-title{
	text-align: center;
	font-variant: small-caps;
	text-indent: 0;
	margin: 1em auto;
}

abbr.name{
	white-space: nowrap;
}

.sign{
	font-variant: small-caps;
	text-align: center;
}

.signature{
	font-variant: small-caps;
}

.cipher{
	border-collapse: collapse;
	margin: 1em auto;
	text-align: center;
}

[epub|type~="dedication"] p{
	margin: auto;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
	max-width: 75%;
}

/* Letter */

blockquote[epub|type~="z3998:letter"] header p{
	text-align: center;
}

blockquote[epub|type~="z3998:letter"] header p[epub|type~="z3998:sender"]{
	font-variant: small-caps;
}

blockquote[epub|type~="z3998:letter"] header .location{
	font-variant: small-caps;
}

blockquote[epub|type~="z3998:letter"] header p[epub|type~="se:letter.dateline"]{
	font-style: italic;
}

blockquote[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

blockquote[epub|type~="z3998:letter"] .signature{
	text-align: right;
}

blockquote[epub|type~="z3998:letter"] p[epub|type~="z3998:salutation"]{
	margin-bottom: 1em;
}

blockquote[epub|type~="z3998:letter"] p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

/* Calling Card formatting */

.calling-card{
	text-align: center;
}

.calling-card > *{
	margin-bottom: 1em;
	margin-top: 1em;
}

.calling-card footer p{
	margin-bottom: .25em;
	margin-top: .25em;
	text-indent: 0;
}

.receipt footer[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:song"]{
	font-style: italic;
	margin: 1em auto;
	text-indent: 0;
	width: max-content;
}

.i1{
	text-indent: -1em;
	padding-left: 2em;
}

.newspaper-clipping{
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="z3998:hymn"]{
	font-style: italic;
}

[epub|type~="z3998:hymn"] header p{
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
}

.governers-calling-card{
	margin: 1em auto;
	text-align: center;
	width: max-content;
}

.governers-calling-card > *{
	text-indent: 0;
}

.governers-calling-card p:first-child{
	margin-bottom: 1em;
	margin-top: 1em;
}
