@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-variant: small-caps;
	font-weight: normal;
}

.book-title{
	font-variant: small-caps;
	margin: 1em auto;
	text-align: center;
	text-indent: 0;
}

abbr.name{
	white-space: nowrap;
}

.sign{
	font-variant: small-caps;
	text-align: center;
}

.sign p,
header > p{
	text-indent: 0;
}

.signature{
	font-variant: small-caps;
}

.cipher{
	border-collapse: collapse;
	margin: 1em auto;
	text-align: center;
}

.newspaper-clipping header ~ p::before{
	content: '';
	display: block;
	border: none;
	border-top: 1px solid;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}

[epub|type~="dedication"] p{
	margin: auto;
	margin-top: 3em;
	max-width: 75%;
	text-align: center;
	text-indent: 0;
}

blockquote[epub|type~="z3998:letter"] header p{
	text-align: center;
}

blockquote[epub|type~="z3998:letter"] header p[epub|type~="z3998:sender"]{
	font-variant: small-caps;
}

blockquote[epub|type~="z3998:letter"] header .location{
	font-variant: small-caps;
}

blockquote[epub|type~="z3998:letter"] header p[epub|type~="se:letter.dateline"]{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:letter"] header + p{
	margin-top: 1em;
}

p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

.calling-card{
	text-align: center;
	border: 1px solid;
	margin: 1em auto;
	padding: 1em;
	max-width: 20em;
}

.calling-card p{
	text-indent: 0;
}

.calling-card b{
	display: block;
	margin-bottom: 1em;
}

.calling-card [epub|type~="z3998:poem"]{
	text-align: left;
}

.calling-card [epub|type~="z3998:poem"] + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:hymn"]{
	font-style: italic;
}

[epub|type~="z3998:hymn"] header p{
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
}

.newspaper-clipping{
	font-variant: small-caps;
	text-align: center;
}
