@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b {
  font-variant: small-caps;
  font-weight: normal;
}

footer {
  margin-top: 1em;
  text-align: right;
}

.name {
  white-space: nowrap;
}

.signature {
  font-variant: small-caps;
}

[epub|type~="dedication"] p {
  margin: auto;
  margin-top: 3em;
  text-align: center;
  text-indent: 0;
  max-width: 75%;
}

blockquote[epub|type~="z3998:letter"] p[epub|type~="z3998:valediction"] {
  margin-top: 1em;
}

blockquote[epub|type~="z3998:letter"] header p[epub|type~="se:letter.dateline"] {
  font-style: italic;
}

blockquote[epub|type~="z3998:letter"] header p {
  text-align: center;
}

